<%= show_filtered_by(klass: Movement, fields: @filters.keys) %>

<% if @movements.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= Movement.human_attribute_name 'client_id' %></th>
        <th><%= Movement.human_attribute_name 'amount' %></th>
        <th><%= Movement.human_attribute_name 'kind' %></th>
        <th><%= Movement.human_attribute_name 'user_id' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @movements.each do |movement| %>
        <tr>
          <td><%= link_to movement.client, movements_path(query_params.merge(client_id: movement.client_id)) %></td>
          <td><%= number_to_currency movement.amount %></td>
          <td><%= movement_kinds_translation(movement.kind) %></td>
          <td><%= link_to movement.user, movements_path(query_params.merge(user_id: movement.user_id)) %></td>
          <td><%= link_to_show movement %></td>
          <td><%= link_to_edit edit_movement_path(movement) if can? :update, movement %></td>
          <td><%= link_to_destroy movement if can? :destroy, movement %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @movements %>
<% end %>
