<p>
  <h3>
    <strong><%= Movement.human_attribute_name 'client_id' %></strong>:
    <%= @movement.client %>
  </h3>
</p>
<p>
  <h3><strong><%= Movement.human_attribute_name 'amount' %></strong>:
    <%= number_to_currency @movement.amount %>
  </h3>
</p>

<br /><br />
<p>
  <strong><%= Movement.human_attribute_name 'kind' %></strong>:
  <%= movement_kinds_translation @movement.kind %>
</p>
<p>
  <strong><%= Movement.human_attribute_name 'user_id' %></strong>:
  <%= @movement.user %>
</p>
<p>
  <strong><%= Movement.human_attribute_name 'updated_at' %></strong>:
  <%= l @movement.updated_at, format: :long %>
</p>
<p>
  <strong><%= Movement.human_attribute_name 'created_at' %></strong>:
  <%= l @movement.created_at, format: :long %>
</p>


<div class="panel-footer">
  <%= link_to t('label.edit'), edit_movement_path(@movement) if can? :update, @movement %> |
  <%= link_to t('label.list'), movements_path %>
</div>
