<%= simple_form_for(@client) do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name, input_html: { autocomplete: 'off' } %>
        <%= f.input :identifier, input_html: { autocomplete: 'off' } %>
        <%= f.input :card, input_html: { autocomplete: 'off' } %>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
