<% if @clients.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= Client.human_attribute_name 'name' %></th>
        <th><%= Client.human_attribute_name 'identifier' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.identifier %></td>
          <td><%= link_to_show client %></td>
          <td><%= link_to_edit edit_client_path(client) if can? :update, client %></td>
          <td><%= link_to_destroy client if can? :destroy, client %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @clients %>
<% end %>

<div class="panel-footer">
  <%= link_to(
    t('view.clients.new', default: :'label.new'),
    new_client_path, class: 'btn btn-primary'
  ) if can? :create, Client %>
</div>
