<div class="well text-center">
  <%= form_for :search, method: :get, html: { class: 'form-horizontal' } do |f| %>
    <div class="row">
      <div class="col-md-4">

        <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: t('label.search'), autofocus: true %>
      </div>
      <div class="col-md-2">
        <%= submit_tag 'Buscar cliente', class: 'btn btn-warning' %>
      </div>

      <%= link_to(
        t('view.clients.new', default: :'label.new'),
        new_client_path, class: 'btn btn-primary pull-right'
      ) if can? :create, Client %>
    </div>
  <% end %>
</div>

<% if @clients.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= Client.human_attribute_name 'name' %></th>
        <th><%= Client.human_attribute_name 'identifier' %></th>
        <th><%= Client.human_attribute_name 'amount' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= render @clients %>
    </tbody>
  </table>

  <%= paginate @clients %>
<% end %>
