<h2><%= @client %></h2>

<p>
  <strong><%= Client.human_attribute_name 'name' %></strong>:
  <%= @client.name %>
</p>
<p>
  <strong><%= Client.human_attribute_name 'identifier' %></strong>:
  <%= @client.identifier %>
</p>
<p>
  <strong><%= Client.human_attribute_name 'card' %></strong>:
  <%= @client.card %>
</p>
<p>
  <strong><%= Client.human_attribute_name 'amount' %></strong>:
  <%= number_to_currency @client.amount %>
</p>

<div class="panel-footer">
  <div class="pull-right">
    <%= link_to t('label.edit'), edit_client_path(@client) if can? :update, @client %> |
    <%= link_to(
      t('label.destroy'),
      client_path(@client) ,
      data: {
        method: :delete,
        confirm: t('messages.confirmation')
      }
    ) if can? :destroy, @client %>
  </div>

  <%= link_to Movement.model_name.human(count: 0), movements_path(client_id: @client.id), class: 'btn btn-info' %> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'Sumar saldo',
    '',
    class: 'btn btn-primary',
    data: { add_movement_to_client: 'credit', client: @client.to_json } %> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'Restar saldo',
    '',
    class: 'btn btn-danger',
    data: { add_movement_to_client: 'debit', client: @client.to_json } %>

</div>
